@font-face {
  font-family: "Open Sans300";
  src: url(../../asset/fonts/Open_Sans/OpenSans-Light.ttf);
}
@font-face {
  font-family: "Open Sans400";
  src: url(../../asset/fonts/Open_Sans/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "Open Sans500";
  src: url(../../asset/fonts/Open_Sans/OpenSans-Medium.ttf);
}
@font-face {
  font-family: "Open Sans600";
  src: url(../../asset/fonts/Open_Sans/OpenSans-SemiBold.ttf);
}
@font-face {
  font-family: "Open Sans700";
  src: url(../../asset/fonts/Open_Sans/OpenSans-Bold.ttf);
}
@font-face {
  font-family: "Open Sans800";
  src: url(../../asset/fonts/Open_Sans/OpenSans-ExtraBold.ttf);
}
@font-face {
  font-family: "Cera Round Pro100";
  src: url(../../asset/fonts/Cera_Round-Pro/MPLUSRounded1c-Thin.ttf);
}
@font-face {
  font-family: "Cera Round Pro300";
  src: url(../../asset/fonts/Cera_Round-Pro/MPLUSRounded1c-Light.ttf);
}
@font-face {
  font-family: "Cera Round Pro400";
  src: url(../../asset/fonts/Cera_Round-Pro/MPLUSRounded1c-Regular.ttf);
}
@font-face {
  font-family: "Cera Round Pro500";
  src: url(../../asset/fonts/Cera_Round-Pro/MPLUSRounded1c-Medium.ttf);
}
@font-face {
  font-family: "Cera Round Pro700";
  src: url(../../asset/fonts/Cera_Round-Pro/MPLUSRounded1c-Bold.ttf);
}
@font-face {
  font-family: "Cera Round Pro800";
  src: url(../../asset/fonts/Cera_Round-Pro/MPLUSRounded1c-ExtraBold.ttf);
}
@font-face {
  font-family: "Inter400";
  src: url(../../asset/fonts/Inter/Inter-Regular.ttf);
}
@font-face {
  font-family: "Inter600";
  src: url(../../asset/fonts/Inter/Inter-SemiBold.ttf);
}
